body{
  padding: 0%;
  margin: 0px;
}
.icon{
  text-align: right;
  position: relative;
}
.midiam{
  text-align: center;
  position: relative;
  margin-top: 10%
}
input[type="text"]{
  width: 50%;
  height: 35px;
  position: relative;
  
}
input[type=submit]{
  width: 20%;
  height: 35px;
}
footer{
  position: absolute;
  margin-top: 15%;
  background: rgb(220,220,220);
  height: 50px;
  width: 100%;
 
}
.footer-right,
.footer-left{
  display: inline-block;

  
}
.footer-left{
  margin-left: 750px

}
.footer-left{
  text-align: left;
}
