body{
  padding: 0%;
  margin: 0px;
}
.icon{
  text-align: right;
  position: relative;
}
.midiam{
  text-align: center;
  position: relative;
  margin-top: 10%
}
input[type="text"]{
  width: 50%;
  height: 35px;
  position: relative;
  
}
input[type=submit]{
  width: 20%;
  height: 35px;
}
nav{
  height: 450px;
}
footer{
  margin: auto;
}
